abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body, #root {
  height: 100%;
}

body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color:transparent;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

input,
select {
  vertical-align: middle;
}

input {
  border: 0;
  margin: 0;
  border-radius: 0;
  background-color: transparent;
}

input:focus,
textarea:focus {
  outline: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

a, input {
  margin: 0
}

input {
  border: 0;
  border-radius: 0;
  background-color: transparent
}

input:focus, textarea:focus {
  outline: none
}

input[type=number] {
  -moz-appearance: textfield
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}

::-ms-clear, ::-ms-reveal {
  display: none;
  width: 0;
  height: 0
}

button, input {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none
}

button::-moz-focus-inner {
  border: 0;
  padding: 0
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

button[disabled] {
  background: #cccccc !important;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 20px;
  font-family: Montserrat, sans-serif, Geneva, sans-serif;
}

* {
  font-family: Montserrat, sans-serif, Geneva, sans-serif;
}

@media (max-width: 1114px) {
  html {
    font-size: 18px
  }
}

.no-scroll {
  overflow: hidden
}
